body{
    margin:0;
    background-color:var(--lynx-gray) ;
}


.btn:hover{
    background-color: var(--lynx-gray);
    color:var(--black)
}
.favicon{
    text-decoration: none;
    font-size: 2rem;
    color:var(--yellow)
}

.bx{
    font-size: 1rem;
}

.bx:hover{
    color: var(--yellow);
}

.sale-img{
    margin-top: 1rem;
    width:75%;
    height:75%;
}

.main-body{
    padding: 0  10.3125rem ;
    margin-bottom: 3rem;

}
.flex{
    display: flex;
    justify-content: center;
}
.category-card{
    flex-wrap: wrap;
    margin: 2rem;
}
.category-card img{
    width: 13.5rem;
    margin: 2rem;
}
.overlay-wrapper{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:  rgba(40, 41, 61,0.7);
    z-index: var(--z-index-1);
    border-radius: .125rem;
    color: var(--lynx-gray);
    font-weight: 500;
    font-size: 1.5rem;
}

.banner{
   margin-top:1rem;
}

.banner img{
    height:50%;
}